# .NET
bin/
obj/
*.user
*.suo

# Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Visual Studio privremeni fajlovi
.vs/
backend/.vs/
*.vsidx
